{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-var-requires": 0,
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "no-useless-escape": 0,
    "no-console": 0,
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "semi": ["error", "always"],
    "brace-style": ["error", "1tbs"],
    "no-plusplus": 0,
    "no-confusing-arrow": 0,
    "no-underscore-dangle": 0,
    "no-restricted-syntax": 0,
    "class-methods-use-this": 0,
    "no-return-assign": 0,
    "prefer-promise-reject-errors": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/interactive-supports-focus": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/mouse-events-have-key-events": 0,
    "jsx-a11y/label-has-for": 0,
    "consistent-return": 0,
    "import/imports-first": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/first": 0,
    "import/extensions": 0,
    "import/newline-after-import": "off",
    "no-script-url": 0,
    "no-alert": 0,
    "no-restricted-globals": 0,
    "default-case": 0,
    "func-names": 0,
    "guard-for-in": 0,
    "camelcase": "off",
    "radix": 0,
    "no-shadow": "off",
    "no-case-declarations": "off",
    "no-use-before-define": "off",
    "no-bitwise": "off",
    "no-self-compare": "off",
    "import/no-duplicates": "off",
    "prefer-rest-params": "off",
    "eqeqeq": "off"
  }
}
